.SliderItem {
	flex: 0 0 15%;
	text-align: center;
	justify-content: space-between;
	margin: 10px 4px;
	transition: all 0.3s ease-in-out 0.1s;
}

.SliderItem:hover {
	transform: scale(1.06) !important;
}
